**/.clover/
**/.settings/

.mule
.metadata

.DS_Store
*.swp

**/bin/
target/

#IntelliJ
.idea/
*.iml
*.ipr
*.iws

#kdiff
*.orig

#Eclipse
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
